@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

.animation-delay-1000 {
  animation-delay: 1s;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

/* Fix navbar overlap for each section */
section {
  scroll-margin-top: 80px;
}

#home {
  padding-top: 100px;
}


#portfolio {
  scroll-margin-top: 20px;
}

#contact {
  scroll-margin-top: 10px;
}

#about {
  scroll-margin-top: 10px;
}

#skills {
  scroll-margin-top: 28px;
}