@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

/* Optional: animation delay helpers */
.animation-delay-1000 {
  animation-delay: 1s;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

/* Default for all sections */
section {
  scroll-margin-top: 70px; /* applies to all except overrides below */
}

/* Showcase section */
#portfolio {
  scroll-margin-top: 20px;
}

/* Contact section */
#contact {
  scroll-margin-top: 10px;
}

#about {
  scroll-margin-top: 20px;
}