@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

/* Fix cutoff when scrolling to anchors (like #about, #skills) */
section {
  scroll-margin-top: 80px; /* height of fixed navbar */
}

/* Optional: animation delay helpers */
.animation-delay-1000 {
  animation-delay: 1s;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}
